<!-- tabs是父组件，tab1、tab2、tab3是子组件，在angular中父子嵌套路由需要添加路由占位符，Ionic进一步封装，这个占位符可有可无 -->
<!-- <ion-router-outlet></ion-router-outlet> -->

<ion-tabs>
  <!-- 底部tab栏 -->
  <ion-tab-bar slot="bottom" color="mybar">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>