<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text='返回' defaultHref='tabs/tab3'></ion-back-button>
    </ion-buttons>
    <ion-title>rxjs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of list">
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="10%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>