<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-menu-button menu='menu-content' slot="start" color="warning"> </ion-menu-button>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- 页面跳转 -->
  <ion-button [routerLink]="['/home']" color="mycolor">跳转到home页面</ion-button>
  <ion-button [routerLink]="['/button']">跳转到button页面</ion-button>
  <ion-button [routerLink]="['/icon']">跳转到icon页面</ion-button>
  <ion-button [routerLink]="['/label']">跳转到label页面</ion-button>
  <ion-button [routerLink]="['/list']">跳转到list页面</ion-button>
  <ion-button [routerLink]="['/form']">跳转到form页面</ion-button>
  <ion-button [routerLink]="['/slides']">跳转到slides页面</ion-button>
  <ion-button [routerLink]="['/searchbar']">跳转到searchbar页面</ion-button>
  <ion-button [routerLink]="['/segment-tab']">跳转到segment-tab页面</ion-button>
  <ion-button [routerLink]="['/datetime']">跳转到datetime页面</ion-button>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>