<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-menu-button menu='menu-content' slot="start" color="warning"> </ion-menu-button>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- 页面跳转 -->


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>