<ion-header>
  <ion-toolbar>
    <!-- slot=start表示指定在导航条的前边 -->
    <ion-buttons slot="start">
      <ion-back-button>返回</ion-back-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary">Primaryion-button</ion-button>
  <ion-button color="secondary">Secondaryion-button</ion-button>
  <ion-button color="tertiary">Tertiaryion-button</ion-button>
  <ion-button color="success">Succession-button</ion-button>
  <ion-button color="warning">Warningion-button</ion-button>
  <ion-button color="danger">Dangerion-button</ion-button>
  <ion-button color="light">Lightion-button</ion-button>
  <ion-button color="medium">Mediumion-button</ion-button>
  <ion-button color="dark">Darkion-button</ion-button>

</ion-content>